---
import '~/styles/global.css'

import type { Metadata } from '~/types'

interface Props extends Metadata {}

const {
  title = 'Vilye Farmer Producer Company Ltd.',
  description = 'Vilye Farmer Producer Company Limited (Vilye FPC) is a Farmer Producer Company founded with a simple yet powerful goal — to empower farmers through collective strength.',
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-CET2MJ3W7L"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'G-CET2MJ3W7L')
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:url" content={canonicalURL} />
  </head>
  <body>
    <slot />
  </body>
</html>
